In [3]:
def greet(name):
    print(f"Hello {name}!")

greet("Norbert")

Hello Norbert!

In [7]:
def greet(name):
    return(f"Hello {name}, how are you ?")
print(greet("Norbert"))

Hello Norbert, how are you ?

In [4]:
#using return statement directly
def add(x, y, z):
    return x + y + z 
add (1, 3, 5)

9

In [5]:
 #assigning to a variable call "result"
def add(x, y, z):
    return x + y + z 
result = add(1,3,5) 
print(result)

9

In [11]:
def add(x, y, z):
    eqn = x + y + z
    return eqn
add (1, 3, 5)

9

In [10]:
def multiply(x, y = 27):
    return x * y
multiply(3)

81

In [11]:
def multiply(x, y = 27):
    return x * y
print(multiply(3))
print(multiply(3, 9))

81
27

In [13]:
def divide (divideA, divideB):
    return divideA/divideB
divide(divideA= 50, divideB= 20)

2.5

In [1]:
#using special character to pack expected parameters in a parameter
def add (*C):
    return sum(C)
add (1, 5, 4, 13, 78, 99)

200

In [2]:
#creating a custom function for addition
def add_integer (*input):
    result = 0
    for num in input:
        result += num
    return result
add_integer (1,4,7,9,4,6)

31

In [13]:
def divide_int (*input):
    if len(input) == 0:
        return "at least one number must be provided"
    result = input[0]
    for num in input[1:]:
        if num == 0:
            return "cannot divide by zero"
        result/=num
    return result
divide_int(3,2,2,2,2)

0.1875

In [14]:
def multi (*input):
    result = 1
    for num in input:
        result *= num
    return result
multi (4, 8, 1, 9)

288

In [15]:
def area_of_circle (r, pie = 3.14):
    return pie * (r**2)
area_of_circle(r=14)

615.44

In [3]:
def SI (*C):
    mult = 1
    for num in C:
        mult *= num
    return mult
SI(50000, 27, 9)/100

121500.0

In [5]:
def SI(P, R, T):
    interest = (P*R*T)/100
    return interest
SI(P = 5000, R = 27, T = 9)

12150.0

In [16]:
#sorting even and odd number
def extract_EvenOdd(*num):
    even =[ ]
    odd =[ ]
    for x in num:
        if x % 2 == 0:
            even.append(x)
        elif x % 2 != 0:
            odd.append(x)
    print(f"The even numbers are = {even}\nThe odd numbers are = {odd}")
extract_EvenOdd(1,2,3,4,5,6,7,8,9,10)

The even numbers are = [2, 4, 6, 8, 10]
The odd numbers are = [1, 3, 5, 7, 9]

In [1]:
def get_highest(**kwargs):
    for x in kwargs.values():
        if x > 50:
            return x
get_highest(john=60, sarah=70,norbert=45)

60

In [2]:
def max_num (*max):
    highest = 0
    for x in max:
        if x > highest:
            highest = x
    return highest
max_num(25, 54, 87, 99, 42, 90)

99

In [8]:
def min_num (*min):
    lowest = float("inf")
    for x in min:
        if x < lowest:
            lowest = x
    return lowest
min_num(25, 54, 87, 99, 42, 90)

25

TREATING FUNCTION AS A FIRST CLASS CITIZEN
1. PASSING A FUNCTION IN A FUNCTION
2. CALLING A FUNCTION IN A FUNCTION
3. STORING FUNCTION IN A VARIABLE
4. HOLDING FUNCTION IN A DATA STRUCTURE

In [9]:
def mult (P,T,R):
    result = P*T*R
    return result
def simple_interest (mult, val = 100):
    div = mult/val
    return div
simple_interest(mult(10000, 7, 5))

3500.0

In [12]:
def mult (P,T,R):
    result = P*T*R
    return result
def simple_interest (mult, val):
    div = mult/val
    return div
simple_interest(mult(P=10000,T= 7,R= 5), 100)

3500.0

In [15]:
#STORING FUNCTION IN A VARIABLE
def add (a, b):
    sum = a + b
    return sum
val = add(3,7)
print(val)

10

In [16]:
l = [1,2,3,4,5,6,7,8,9,(add(4,6))]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

LAMBDA FUNCTION
lambda parameters : expression

In [17]:
add = lambda x, y: x + y
print(add(4,7))

11

In [19]:
multiply = lambda a, b, c : a * b * c
print(multiply(5, 8, 9))

360

In [21]:
square = lambda a, b : (a ** 2, b ** 3)
print(square(7, 5))

(49, 125)

In [22]:
remainder = lambda a, b : (a % b)
print(remainder(5,3))

2

In [5]:
def rev_str (string):
    str = " "
    for x in string:
        str = x + str
    return str
str = "norbert"
print("The reverse string is:", rev_str(str))

The reverse string is: trebron

In [2]:
def rev_str (my_name):
    my_name = "lucy"
    reverse = ""
    index = len(my_name)
    while index > 0:
        reverse+= my_name[index -1]
        index = index - 1
    return reverse
rev_str("my_name=lucy")

'ycul'

In [3]:
def rev_str (my_name):
    my_name = "lucy"
    reverse = ""
    index = len(my_name)
    while index > 0:
        reverse+= my_name[index -1]
        index = index - 1
    return reverse
with open("profile.txt", "a", newline="") as new_file:
    print(rev_str("my_name=lucy"), file=new_file )

In [ ]:
def rev_str (my_name):
    reverse = ""
    index = len(my_name)
    while index > 0:
        reverse+= my_name[index -1]
        index = index - 1
    return reverse
with open("profile.txt", "a", newline="") as new_file:
    print(rev_str(input()), file=new_file )