In [1]:
1 + 1

2

In [9]:
# FIRST PRINT 
print("Hello World")

Hello World

In [7]:
20 > 3

True

In [1]:
# addition
num1=20
num2=30
sum=num1+num2
print(sum)

50

In [2]:
# Exponential
x=5
exp=x**2
print(exp)

25

In [3]:
# addition and exponential
num1=3
num2=9
sum=num1+num2
exp=sum**2
print(exp)

144

In [4]:
# practice
num1=1
num2=0
num3=5
sum=num1+num2+num3
exp=sum**4
print(exp)

1296

In [5]:
#float division
a=3
b=7
div=a/b
print(div)

0.42857142857142855

In [6]:
# to do
a=3
b=5
c=2
sum=a+b
div=sum/c
exp=div**1.5
print(exp)

8.0

In [7]:
#conditional statement 
if 2>3:
    print("2 is greater than 3")
else:
    print("2 is not greater than 3")

2 is not greater than 3

In [9]:
if 5<4.5:
    print("5 is less than 4.5")
else:
    print("5 is not less than 4.5")

5 is not less than 4.5

In [10]:
if 10>=15:
    print("true")
else:
    print("false")

false

In [11]:
#logical operators
2>=1 and 3<=5

True

In [12]:
20<=10 or 3<7

True

In [13]:
#tenary usage
my_name="lucy"
"this value exist" if"K"in my_name else "this value doesnt exist"

'this value doesnt exist'

In [14]:
#inclusion
myName="lucy"
"u" in myName

True

In [1]:
#arthimetic operators
if 2.4<=4:
    print("2.4 is less than and equals to 4")
else:
    print("2.4 is not less than and not equals to 4")

2.4 is less than and equals to 4

In [2]:
if 5!=5.1:
    print("5 is equals to 5.1")
else:
    print("5 is not equals to 5.1")

5 is equals to 5.1

In [3]:
if 100== 200:
    print("100 is quals to 200")
else:
    print("100 is not equals to 200")

100 is not equals to 200

In [5]:
#not
my_name="lucy"
"u" not in my_name

False

In [9]:
# converting from string to int
num_string="123"
num_int=int(num_string)
print("original string:",num_string)
print("casted string:",num_int)

original string: 123
casted string: 123

In [10]:
#CONVERTING FLOAT TO INT
num_float=3.14
num_int=int(num_float)
print("orginal float:",num_float)
print("casted float:",num_int)

orginal float: 3.14
casted float: 3

In [11]:
#how to find the data type(python built in function)
a="samuel"
type(a)

str

In [14]:
#inputting
name=input("what is your name?")
print("hello,", name+"!")

hello, lucy!

In [15]:
name=input("what is your name?")
print("hello,",name + "!")

hello, vinny!

In [17]:
#ADDITION USING INPUT()
num1=int(input("enter first number"))
num2=int(input("enter second number"))
sum=num1+num2
print(sum)

85

In [23]:
#adding 3 numbers and dividing by 5,square the result raised to the power 1.5
num1=int(input("enter first number"))
num2=int(input("enter second number"))
num3=int(input("enter third number"))
sum=num1+num2+num3
div=sum/5
exp=div**1.5
print(exp)

27.0

In [25]:
#storing a string in a variable
name="brenda"
age=23
message=f"my name is {name} and i am {age}years old"
print(message)

my name is brenda and i am 23years old

In [27]:
#direct formatting
name="vinny"
age=23
print(f"my name is {name} and i am {age} years old")

my name is vinny and i am 23 years old

In [5]:
#assignment
#a=10,b=7,c=6,exp=4
#a,b,c was first multiplied then subtracted from 10 then divided by 5
#then i chose the exp to be 4,it was inputed then the total resulted was formatted 
a=int(input())
b=int(input())
c=int(input())
mul=a*b*c
diff=mul-10
div=diff/5
print(div)

exp=int(input())
expp=div**exp
formatted_result="f the result is {expp}"
print(f"the result is {expp}")

82.0
the result is 45212176.0

In [1]:
#concatentation
first_name="lucy"
last_name="  williams"
full_name=first_name+last_name
print(f"my name is {full_name}")

my name is lucy  williams

In [3]:
#immuteable ds(posititve)retrieve
name="Kingsley"
val=name[4]
print(val)

s

In [4]:
#immuteable(negative)retrieve
name="kingsley"
val=name[-4]
print(val)

s

In [1]:
#strinng slicing(retrieving)
name="kingsley"
val=name[0:4]
print(val)

king

In [3]:
#string slicing(negative)
name="kingsley"
val=name[-8:-4]
print(val)

king

In [20]:
#retrieve the first and last character
me=input("")
value=me[0]
valuee=me[-1]
print(f"the first character is {value}\nthe last character is {valuee}")

the first character is I
the last character is l

In [24]:
#list(retrievng 2)
fruits=["guava","orange","mango"]
numbers=[1,2,3,4,5,6]
mixed=["guava",1,2,3,"mango"]

value=mixed[2]
print(value)

2

In [25]:
#retrieving mango
fruits=["guava","orange",'mango']
numbers=[1,2,3,4,5,6]
mixed=["guava",1,2,3,"mango"]
value=mixed[4]
print(value)

mango

In [32]:
fruits=["guava","orange",'mango']
numbers=[1,2,3,4,5,6]
mixed=[1,2,3,["mango","guava",[5],6,"orange"]]
a=mixed[3]
print(a)
b=a[2]
print(b)
c=b[0]
print(c)

['mango', 'guava', [5], 6, 'orange']
[5]
5

In [2]:
#updating a table(totally erases the number in the selected index position with the new one)
l=[1,3,4,7,8]
l[2]=6
print(l)

[1, 3, 6, 7, 8]

In [4]:
l=[1,3,4,7,8]
l.append(10)
print(l)
#insert doesnt delete any number,it just adds to the list
l.insert(2,7)
print(l)

[1, 3, 4, 7, 8, 10]
[1, 3, 7, 4, 7, 8, 10]

In [5]:
#updating [5,6] to[1,2]
nested_list=[[5,6],[3,4]]
a=nested_list[0]=[1,2]
print(nested_list)

[[1, 2], [3, 4]]

In [8]:
#updating and retrieving
nested_list=[[5,6],[3,4]]
a=nested_list[1]
a[0]=7
a[1]=11
print(nested_list)

[[5, 6], [7, 11]]

In [10]:
#.extend() adds to the back
l=[3,4,5]
l.extend([6,7,8,9,10])
print(l)

[3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#deleting list
fruits=["mango","guava","orange"]
removed_item=fruits.pop(0)
print(removed_item)
print(fruits)

#retrieved the deleted item
fruits.insert(0,removed_item)
print(fruits)

mango
['guava', 'orange']
['mango', 'guava', 'orange']

In [16]:
#using del key word
fruits=["mango","guava","apple","udara","pineapple","orange"]
del fruits[2]
print(fruits)

['mango', 'guava', 'udara', 'pineapple', 'orange']

In [21]:
fruits=["mango","guava","apple","udara","pineapple","orange","mango"]
fruits.remove("mango")
print(fruits)

['guava', 'apple', 'udara', 'pineapple', 'orange', 'mango']

In [23]:
#dictionaries
student={"name":"kate","age":20,"grade":"A"}
new=student["age"]
print(new)

#using .get
new=student["name"]
print(new)

20
kate

In [29]:
# updating dictionaries
student={"name":"kate","age":20,"grade":"A"}
student["age"]=21
print(student)

student["grade"]="C"
print(student)
#ADDING A NEW KEY AND VALUE
student["subject"]="math"
print(student)
#deleting using. pop()

grade=student.pop("grade")
print(student)

{'name': 'kate', 'age': 21, 'grade': 'A'}
{'name': 'kate', 'age': 21, 'grade': 'C'}
{'name': 'kate', 'age': 21, 'grade': 'C', 'subject': 'math'}
{'name': 'kate', 'age': 21, 'subject': 'math'}

In [1]:
#assignment
L=[1,3,2,4,["i","boy","a","am",[80,100,90]]]
L[0]=1
L[1]=2
L[2]=3
L[3]=4
print(L)
a=L[4]
a[0]="i"
a[1]="am"
a[2]="a"
a[3]='boy'
a[4]=[80,90,100]
print(L)

[1, 2, 3, 4, ['i', 'boy', 'a', 'am', [80, 100, 90]]]
[1, 2, 3, 4, ['i', 'am', 'a', 'boy', [80, 90, 100]]]

In [9]:
#assignment2
my_dict={"Godwin":[{"Hobbies":["singing","dancing","running"]}]}
Godwin=my_dict["Godwin"][0]
Godwin["Hobbies"][0]="running"
Godwin["Hobbies"][1]="singing"
Godwin["Hobbies"][2]="dancing"
print(my_dict)

{'Godwin': [{'Hobbies': ['running', 'singing', 'dancing']}]}

In [10]:
#TUPLE
fruits=("apple","banana","orange")
new=fruits[2]
print(new)

orange

In [14]:
#slicing in tuple
fruits=("apple","banana","orange")
slice=fruits[0:2]
print(slice)

#creating a variable for each fruit(UNPACKING IN TUPLE)
fruits=("apple","banana","orange","pineapple","cherry")
first_fruit,second_fruit,*other_fruits=fruits
print(first_fruit)
print(second_fruit)
print(*other_fruits)

('apple', 'banana')
apple
banana
orange pineapple cherry

In [19]:
#SETS
num={1,2,3,4,1,2,3}
print(num)
#adding 5 to the set
num.add(5)
print(num)
#removing 5 from set
num.discard(5)
print(num)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [21]:
#union
set1={1,2,3}
set2={3,4,5}
set3={4,5,6,7,8}
union=set1.union(set2,set3)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
#intersection
set1={1,2,3}
set2={3,4,5}
intersection=set1.intersection(set2)
print(intersection)

{3}

In [29]:
#disjoint
set1={1,2,3}
set2={3,4,5}
disjoint=set1.difference(set2)
print(disjoint)

{1, 2}

In [28]:
#checking the difference in 2 set
set1={1,2,3}
set2={3,4,5}
difference=set1.symmetric_difference(set2)
print(difference)

{1, 2, 4, 5}

In [31]:
#CONTROLFLOW-CONDITONAL STATEMENT
x=5
if x>0:
    print("this is true")
elif x<0:
    print("this is false")
else:
    print("x is zero")

this is true

In [42]:
#beach party event accepting guest from age 18-30
x=18-30
x=int(input())
if x<=18:
    print("Not Allowed")
elif x>=30:
    print("GO home")
else:
    print("enter")

Not Allowed

In [65]:
#bank program)
pin=1236
bankpin=int(input())
UBA={"first_name":"vee","last_name":"jude","bank_name":"vee_jude","account_no":22341,"balance":234567}
if bankpin == pin:
    print("UBA")
elif bankpin !=pin:
    print("Not UBA")   
else:
    print("not user")

UBA

In [3]:
#assignment
user1={'first_name':"jeremy", 'last_name':"jon",'score':50,'grade':"c"}
user2={'first_name':"lawerence",'last_name':"daniel",'score':70,'grade':"b"}
user3={'first_name':"jennifer",'last_name':"usor",'score':85,'grade':"a"}
user4={'first_name':"lezley",'last_name':"stone",'score':90,'grade':"a"}
user5={'first_name':"jacob",'last-name':"will",'score':45,'grade':"d"}
information=input("")
if information=="jacob":
    print(user5)
elif information=="jeremy" :
    print(user1) 
elif information=="lezley":
    print(user4) 
elif information=="jennifer":
    print(user3)
else:
    print("not user")

{'first_name': 'jacob', 'last-name': 'will', 'score': 45, 'grade': 'd'}

In [6]:
#looping
my_name="lucy"
for me in my_name:
  still_me=me.capitalize()
  print(still_me)

L
U
C
Y

In [11]:
#for loop in string
my_name="lucy"
empty_list=[]
for me in my_name:
    still_me=me.capitalize()
    empty_list.append(still_me)
corrected_str="".join(empty_list)   #used to join only string 
print(corrected_str)

LUCY

In [18]:
#for loop in int
num=[3,6,7,2,8]
empty_list=[]
for numbers in num:
    still_num=numbers**2
    empty_list.append(still_num)   #or empty_list+append(still_num)
print(empty_list)

[9, 36, 49, 4, 64]

In [20]:
#while loop
count=1
while count<=5:
    print(count)
    count +=1

1
2
3
4
5

In [21]:
count=5
while count>=0:
    print(count)
    count-=1

5
4
3
2
1
0

In [21]:
#assignment output must be (1,2,3,4,5)
val=[5,4,3,2,1]
for valee in val:
    valee=sorted(val)
print(valee)

[1, 2, 3, 4, 5]

In [2]:
val=[5,4,3,2,1]
len(val)

5

In [7]:
val=[5,4,3,2,1]
empty=[]
while len(val)>0:  #work as far as the condition is true. .pop()picks from the back
   for valee in val:
    new=val.pop()
    empty.append(new)
print(empty)

[1, 2, 3, 4, 5]

In [9]:
range(10,2)

range(10, 2)

In [12]:
#break and continue 
for x in range(10):
    if x==5:
        break
    print(x)

0
1
2
3
4

In [13]:
#skipping numbers that can be divided by 2
for x in range(20): 
  if x%2==0:
    continue
  print(x)

1
3
5
7
9
11
13
15
17
19

In [21]:
#find 5 multiplication table
for x in range(65):
    if x%5!=0:
        continue
    print(x)

0
5
10
15
20
25
30
35
40
45
50
55
60

In [32]:
#break when it get to 5 and continue with range of numbers that can be divided by 2
for x in range(10):
    if x==5:
        break
    elif x%2==0:
        continue
    print(x)

1
3

In [38]:
for x in range(10):
    if x==5 or x%2==0:
        continue
    print(x)

1
3
7
9

In [14]:
#assignment
for list in range(1,50):
    if list%3==0:
     print(f"skipping number at {list}") 
     continue
    if list==35:
       print(f"stopping number at {list}") 
       continue

skipping number at 3
skipping number at 6
skipping number at 9
skipping number at 12
skipping number at 15
skipping number at 18
skipping number at 21
skipping number at 24
skipping number at 27
skipping number at 30
skipping number at 33
stopping number at 35
skipping number at 36
skipping number at 39
skipping number at 42
skipping number at 45
skipping number at 48

In [16]:
#lopping through index postion
fruits=["mango","guava","apple","berry"]
for index in range(len(fruits)):
    print("at index position",index,"we have",fruits[index])

at index position 0 we have mango
at index position 1 we have guava
at index position 2 we have apple
at index position 3 we have berry

In [18]:
name=input(str())
for index in range(len(name)):
    print("at index position",index,"we have",name[index])

at index position 0 we have m
at index position 1 we have a
at index position 2 we have t
at index position 3 we have h
at index position 4 we have e
at index position 5 we have m
at index position 6 we have a
at index position 7 we have t
at index position 8 we have i
at index position 9 we have c
at index position 10 we have s

In [20]:
#looping through dictionaries
dict={"name":"ann","country":"usa","gender":"female","hobby":"sleeping"}
for key in dict.keys():
    print(key)

name
country
gender
hobby

In [21]:
dict={"name":"ann","country":"usa","gender":"female","hobby":"sleeping"}
for value in dict.values():
     print(value)

ann
usa
female
sleeping

In [22]:
for key,value in dict.items():
    print(key,value)

name ann
country usa
gender female
hobby sleeping

In [25]:
#making a list of student and their various scores(using s dictionary and list)
scores={
    "james":[67,89,70],
    "jessy":[50,10,50],
    "isiah":[30,70,56],
    "jossy":[68,46,23],
    "lizzy":[67,45,76]}
for student,grade in scores.items():
    print(grade)
    total=sum(grade)
    length=len(grade)
    average=total/length
    print(f"The average score of {student}:{grade} is {average :.2f}")
    #use:.2f or 3f .... to reduce decimal place

[67, 89, 70]
The average score of james:[67, 89, 70] is 75.33
[50, 10, 50]
The average score of jessy:[50, 10, 50] is 36.67
[30, 70, 56]
The average score of isiah:[30, 70, 56] is 52.00
[68, 46, 23]
The average score of jossy:[68, 46, 23] is 45.67
[67, 45, 76]
The average score of lizzy:[67, 45, 76] is 62.67

In [35]:
#looping through nested dictionary
Employees={"jerome":{"age":35,"position":"manager","salary":"$12000"},
         "loveth":{"age":25,"position":"salesattendant","salary":"$10000"},
          "vinny":{"age":29,"position":"IToperative","salary":"$11000"}}
for key,value in Employees.items():
    for inner_keys,inner_value in value.items():
        #print(inner_keys,inner_value) 
        if inner_keys=="salary":
            print(inner_value)

$12000
$10000
$11000

In [4]:
employees = {"jerome":{"age":35,"position":"manager","salary":12000},
            "loveth":{"age":25,"position":"salesattendant","salary":10000},
            "vinny":{"age":29,"position":"IToperative","salary":11000}
          }
total_salary=[]
for key,value in employees.items():
    new = value["salary"]
    total_salary.append(new)
    val=sum(total_salary)
print(val)

33000

In [20]:
#assignment
students={
        "sam":[76,77,78,65,65],
        "joel":[56,78,67,76,56],
        "justin":[87,88,76,54],
        "eva":[89,89,78,54],
        "jaane":[67,87,76,77],
        "zain":[60,70,80,65],
        "vinny":[65,76,87,76],
        "king":[67,76,87,76],
        "jeff":[56,67,65,76],
        "williams":[78,76,75,65]}
for name,scores in students.items():
        #print(scores)
        total=sum(scores)
        length=len(scores)
        average=total/length
        #print(f"the average of grade of {name}:{scores} is {average}")  
        print(f"the average grade for {name} is {average}")

the average grade for sam is 72
the average grade for joel is 67
the average grade for justin is 76
the average grade for eva is 78
the average grade for jaane is 77
the average grade for zain is 69
the average grade for vinny is 76
the average grade for king is 76
the average grade for jeff is 66
the average grade for williams is 74

In [21]:
minimum=min()
print(minimum)

TypeError: 'float' object is not iterable

In [ ]:
# Dictionary of student grades
grades = {"sam":[76,77,78,65,65],
        "joel":[56,78,67,76,56],
        "justin":[87,88,76,54],
        "eva":[89,89,78,54],
        "jaane":[67,87,76,77],
        "zain":[60,70,80,65],
        "vinny":[65,76,87,76],
        "king":[67,76,87,76],
        "jeff":[56,67,65,76],
        "williams":[78,76,75,65]}
# Calculate average grade for each student
for student, grade_list in grades.items():
    total_grade = 0
    num_grades = len(grade_list)
    for grade in grade_list:
        total_grade += grade
    average = total_grade / num_grades
    print(f"{student}: Average grade = {average:.2f}")

# Find student(s) with the highest average grade
highest_average = 0
top_students = []

for student, grade_list in grades.items():
    total_grade = 0
    num_grades = len(grade_list)
    for grade in grade_list:
        total_grade += grade
    average = total_grade / num_grades

    if average > highest_average:
        highest_average = average
        top_students = [student]
    elif average == highest_average:
        top_students.append(student)

print(f"Student(s) with the highest average grade: {', '.join(top_students)}")

In [1]:
for student, grade_list in grades.items():
    total_grade = 0
    num_grades = len(grade_list)
    for grade in grade_list:
        print(grade)

NameError: name 'grades' is not defined